/* color palette */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --color-primary-dark: rgb(47, 13, 115);   /* #2f0d73 */
  --color-primary: rgb(124, 80, 220);       /* #7c50de */
  --color-secondary: rgb(172, 84, 199);     /* #ac54c7 */
  --color-accent: rgb(245, 105, 96);        /* #f56960 */

  /* Font */
  --bebas-font: "Bebas Neue", serif;
  --bebas-weight: 400;
  --bebas-style: normal;

  --be-vietnam-font: "Be Vietnam Pro", serif;
  --be-vietnam-extralight-weight: 200;
  --be-vietnam-medium-weight: 500;
  --be-vietnam-style: normal;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-black);
  --color-background-white: var(--vt-c-white-soft);

  --color-button: var(--color-primary);
  --color-button-inactif: var(--color-primary-dark);

  --color-text-dark: var(--vt-c-black);
  --color-text: var(--vt-c-white);

  --section-gap: 100px;

  --font-heading: var(--bebas-font);
  --font-heading-weight: var(--bebas-weight);
  --font-text: var(--be-vietnam-font);
  --font-text-weight: var(--be-vietnam-extralight-weight);
  --font-text-title-weight: var(--be-vietnam-medium-weight);
}

/* Pour s'adapter au mode sombre de l'utilisateur
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: "Bebas Neue", serif;
  font-weight: var(--font-heading-weight);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-family: "Be Vietnam Pro", serif;
  font-weight: var(--font-text-weight);
}

strong {
  font-weight: var(--font-text-title-weight);
}
